
@model IEnumerable<WebScraperASP.ViewModels.CombinedStockDataVM>
@using System.Globalization;

@{
    ViewData["Title"] = "Stock Data";
}

    <p>
        Following data was scraped on
        @{
            var e = Model.ElementAt(0);
        }

        @e.ScrapeInfo.ScrapeDate.ToString("MMM dd yyyy hh:mm tt") &nbsp; @e.ScrapeInfo.TimeZone

    </p>
<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Last Price</th>
            <th>Change</th>
            <th>% Change</th>
            <th>Prev Close</th>
            <th>52-Wk High</th>
            <th>52-Wk Low</th>
            <th>Market Cap</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Company.SymbolName</td>
                <td>@item.Company.CompanyName</td>
                <td>@item.StockData.LastPrice?.ToString("0.00")</td>
                <td>@item.StockData.Change?.ToString("0.00")</td>
                <td>@item.StockData.PercentChange?.ToString("0.00")</td>
                <td>@item.StockData.PrevClose?.ToString("0.00")</td>
                <td>@item.StockData.FiftyTwoWeekHigh?.ToString("0.00")</td>
                <td>@item.StockData.FiftyTwoWeekLow?.ToString("0.00")</td>

                @{
                    var cap = item.StockData.MarketCap;
                    var capString = "";
                    if (cap > 999999999999)
                    {
                        capString = cap?.ToString("0,,,,.###T", CultureInfo.InvariantCulture);
                    }
                    else if (cap > 999999999)
                    {
                        capString = cap?.ToString("0,,,.###B", CultureInfo.InvariantCulture);
                    }
                    else if (cap > 999999)
                    {
                        capString = cap?.ToString("0,,.###M", CultureInfo.InvariantCulture);
                    }
                    else if (cap > 999)
                    {
                        capString = cap?.ToString("0,.#K", CultureInfo.InvariantCulture);
                    }
                    else
                    {
                        capString = cap?.ToString(CultureInfo.InvariantCulture);
                    }
                }

                <td>@capString</td>
            </tr>
        }
    </tbody>
</table>






