@model IEnumerable<WebScraperASP.ViewModels.CombinedStockDataVM>

@{
    ViewData["Title"] = "Scraped Data";
}

<h3>Data was scraped successfully.</h3>

<p>
    @{
        var e = Model.ElementAt(0);
    }

    @e.ScrapeInfo.ScrapeDate &emsp; @e.ScrapeInfo.TimeZone
    
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Company.SymbolName</td>
            <td> 
                @item.Company.CompanyName
            </td>
            <td>@item.StockData.LastPrice</td>
            <td>@item.StockData.Change</td>

        </tr>
}
    </tbody>
</table>
